---
title: Hewwo, world!
---

%h1 Hewwo, world!

%section.index-top
  %img.index-top-image{src: 'https://media.catstret.ch/avatars/irissystem-latest.png'}
  .index-top-content
    %p
      This is the Internet Website of
      %strong The Iris System,
      who, as a collective, use
      %a{href: 'https://pronoun.is/they/them'} plural they/them
      pronouns.

    %p
      We do various things, including (but not limited to):
      %ul
        %li
          being gay,
        %li
          = succeed ', ' do
            %a{href: @config[:base_url] + '/projects'}
              working on open source projects
        %li
          = succeed ', ' do
            shitposting on both
            %a{href: 'https://twitter.com/raspberryMiku', rel: 'me'}
              Twitter
            and
            %a{href: 'https://cloudisland.nz/@iris', rel: 'me'}
              Mastodon
        %li
          and being gay.


%section
  %h2 About us

  .system-member-card
    %img.system-member-avatar{src: 'https://media.catstret.ch/avatars/darcy-latest.png'}
    .system-member-info
      %h1 Darcy / Miku
      %p
        System host / primary fronter,
        software developer,
        giant nerd.

      %dl
        %dt Pronouns
        %dd
          %a{href: 'https://pronoun.is/ae/aer'} ae/aer

        %dt Emoji
        %dd 💙

  .system-member-card
    %img.system-member-avatar{src: 'https://media.catstret.ch/avatars/void-latest.png'}
    .system-member-info
      %h1 Void
      %p
        The system's
        %em other
        gay catgirl.

      %dl
        %dt Pronouns
        %dd
          %a{href: 'https://pronoun.is/it/its'} it/its

        %dt Emoji
        %dd ⬛
  
  .system-member-card
    %img.system-member-avatar{src: 'https://media.catstret.ch/avatars/jay-latest.png'}
    .system-member-info
      %h1 Jay
      %p
        A pretty boi.

      %dl
        %dt Pronouns
        %dd
          %a{href: 'https://pronoun.is/he?or=they'} he/him or they/them

        %dt Emoji
        %dd 🌶️

  .system-member-card
    %img.system-member-avatar{src: 'https://media.catstret.ch/avatars/blue-latest.png'}
    .system-member-info
      %h1 Blue
      %p
        The little one.
        Tiny child.
        Adorable baby.

      %dl
        %dt Pronouns
        %dd
          %a{href: 'https://pronoun.is/she/her'} she/her

        %dt Emoji
        %dd 📘


%section
  %h2 Contact us
  %ul
    %li
      %strong Email:
      %code iris (at) iris (dot) ac (dot) nz

    %li
      %strong IRC:
      %code iris
      on
      %a{href: 'https://libera.chat'} Libera Chat

    %li
      %strong Matrix:
      %code @iris:smol.systems

