---
title: Hewwo, world!
---

%h1 Hewwo, world!

%section.index-top
  %img.index-top-image{src: 'https://media.catstret.ch/avatars/irissystem-latest.png'}
  .index-top-content
    %p
      This is the Internet Website of
      %strong The Iris System,
      who, as a collective, use
      %a{href: 'https://pronoun.is/they/them'} plural they/them
      pronouns.

    %p
      We do various things, including (but not limited to):
      %ul
        %li
          being gay,
        %li
          = succeed ', ' do
            %a{href: @config[:base_url] + '/projects'}
              working on open source projects
        %li
          = succeed ', ' do
            shitposting on social media
        %li
          and being gay.

%section
  %h2 Places to find us
  %ul
    %li
      %strong Twitter:
      %a{href: 'https://twitter.com/raspberryMiku', rel: 'me'} @raspberryMiku
    %li
      %strong Mastodon (main account):
      %a{href: 'https://cloudisland.nz/@iris', rel: 'me'} @iris@cloudisland.nz
    %li
      %strong Mastodon (tech side-account):
      %a{href: 'https://cybre.space/@u1f408', rel: 'me'} @u1f408@cybre.space
    %li
      %strong Matrix:
      %code @iris:smol.systems

