<footer class="main-footer">
	<div class="stripes trans"></div>
	<div class="container y-margin">
		<ul class="inline-list">
			<li><a href="{{ site.baseurl }}/atom.xml">atom feed</a></li>
			<li>generated {{ site.time | date_to_rfc822 }}</li>
			<li>content licensed as <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a></li>
			<li><a href="https://gitlab.com/u1f408/website">source</a></li>
		</ul>
	</div>
</footer>
