<nav class="main-nav">
	<div class="container">
		<ul class="main-nav-list inline-list">
			<li><h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1></li>
			<li><a href="{{ site.baseurl }}/blog/">blog</a></li>
		</ul>
	</div>
</nav>
