*, *:before, *:after {
	box-sizing: border-box;
}

html {
	min-width: 100%;
	min-height: 100%;

	padding: 0;
	margin: 0;

	background: $color_base_bg;
	color: $color_base_fg;

	font: 125%/1.5 sans-serif;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	max-width: $responsive_width;
	width: 100%;

	padding: 0 1rem;
	margin: 0 auto;
}

main {
	padding: 1rem;
}

a {
	color: $color_accent;
	text-decoration: none;

	&:focus, &:hover {
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
	width: auto;

	margin: 0 auto;
	padding: 2px;
	
	background: $color_accent;
	border: 2px solid $color_base_fg;
}
