.main-nav {
	padding: 0;
	margin: 0;

	.container {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: flex-start;

		@media screen and (min-width: $responsive_width) {
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
		}
	}

	h1 {
		font-size: 1rem;
		display: inline-block;

		a {
			color: $color_base_fg;
		}
	}

	a {
		text-decoration: none;
		color: $color_accent;

		&:focus, &:hover {
			text-decoration: underline;
		}
	}
}
