.stripes {
	padding: 1rem;
}

.stripes.trans {
	background-image: linear-gradient(
		$trans_blue 0%,
		$trans_blue 20%,
		$trans_pink 20%,
		$trans_pink 40%,
		$trans_white 40%,
		$trans_white 60%,
		$trans_pink 60%,
		$trans_pink 80%,
		$trans_blue 80%,
		$trans_blue 100%
	);
}
