.y-margin {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.x-margin {
	margin-left: 1rem;
	margin-right: 1rem;
}

.xy-margin {
	@extend .x-margin;
	@extend .y-margin;
}

.inline-list {
	display: inline-block;
	list-style: none outside none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		list-style: none outside none;
		padding: 0.5rem 0;
		padding: 0;

		&:not(:last-child):after {
			content: ' \00b7 ';
		}
	}
}
