---
title: Blog posts
layout: page
---

<ul class="blog-post-list">
{% for post in site.posts %}
	<li>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
		<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
	</li>
{% endfor %}
</ul>

