%nav
  %ul.inline-list
    %li
      %a.brand{href: @config[:base_url] + '/'}><
        %strong>< catstret.ch
    %li
      %a{href: @config[:base_url] + '/projects'}><
        projects
    %li
      %a{href: @config[:base_url] + '/blog'}><
        blog
    %li
      %a{href: @config[:base_url] + '/about'}><
        about
