!!!html
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width; initial-scale=1'}
    %meta{name: 'generator', content: ['Nanoc', Nanoc::VERSION].join(' ')}
    %link{rel: 'stylesheet', href: '/css/main.css'}
    %title
      - if @item[:title]
        = succeed ' &raquo;' do
          = @item[:title]

      catstret.ch

  %body
    %nav
      %ul.inline-list
        %li
          %a.brand{href: '/'}><
            %strong>< catstret.ch
        %li
          %a{href: '/projects'}><
            projects
        %li
          %a{href: '/blog'}><
            blog

    %main
      = yield
