- trail = breadcrumbs_trail.compact
- unless trail.empty?
  %aside.breadcrumbs
    path:

    %ul.inline-list
      - trail.each do |part|
        %li
          %a{href: part.reps[:default].path}
            &= part[:title]

= yield
