<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
	<title>{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
	{% feed_meta %}
</head>
<body>
	{% include navbar.html %}

	{{ content }}

	{% include footer.html %}
</body>
</html>
