---
layout: base
---

<main class="container">
	<h1>{{ page.title }}</h1>
	<header class="post-header">
		<div>posted: {{ page.date | date_to_string }}</div>
	</header>
	
	{{ content }}

	<footer class="post-footer">
	{% if page.tags.size > 0 %}
		<div class="post-footer-tags">
			tagged as
			<ul class="inline-list">
				{% for tag in page.tags %}
				<li><a href="#">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</diV>
	{% endif %}
	</footer>
</main>
