footer.page-footer {
	width: 100%;
	text-align: center;
	font-size: 0.7rem;
	padding: 1rem 0 0.5rem 0;

	color: var(--footer-foreground);

	a {
		color: inherit;
		text-decoration: underline;


		&:visited {
			color: inherit;
		}

		&:hover, &:focus {
			padding: inherit;
			background: transparent;

			text-decoration-thickness: 2px;
		}
	}
}
