main {
	width: 100%;
	max-width: 64rem;
	margin: 0 auto;
	padding: 1rem;

	img {
		max-width: 100%;
		margin: 0 auto;

		border: 1px solid var(--image-border);
	}

	a.imglink {
		display: flex;
		text-align: center;
		padding: 0.5rem;
		background: var(--link-background);

		&:hover, &:focus {
			padding: 0.5rem;
			background: var(--link-foreground);
		}
	}
}
