.y-margin {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.x-margin {
	margin-left: 1rem;
	margin-right: 1rem;
}

.xy-margin {
	@extend .x-margin;
	@extend .y-margin;
}

.inline-list {
	display: inline-block;
	list-style: none outside none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		list-style: none outside none;
		padding: 0.5rem 0;
		padding: 0;

		&:not(:last-child):after {
			content: '\0020\00b7\0020';
		}
	}

	&.path {
		li:not(:last-child):after {
			content: '\0020\203a\0020';
		}
	}
}

.sr-only {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
