:root {
	--body-border-radius: 4px;
	--body-foreground: rgba(48, 48, 48, 1);
	--body-background: rgba(240, 240, 240, 1);;

	--link-border-radius: 2px;
	--link-foreground: rgba(198, 88, 140, 1);
	--link-background: rgba(230, 230, 230, 1);

	--image-border: rgba(48, 48, 48, 0.6);

	--code-border-radius: 4px;
	--code-border: rgba(48, 48, 48, 0.6);
	--code-background: rgba(230, 230, 230, 1);
	--code-foreground: rgba(48, 48, 48, 1);

	--description-term-width: clamp(5rem, 30%, 9rem);
	--description-details-width: clamp(10rem, 70%, 40rem);
}
